.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
   background-color: var(--background-color);
   color: #222;
   padding: .5em 1em;
   border: none;
   outline: none;
   position: relative;
   cursor: pointer;
 
   --background-color: #E3E3E3;
   --border-size: 2px;
   --accent-color: #0AF;
 }

.btn.btn-background-circle::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: -1;
   background-color: var(--background-color);
   border-radius: 50%;
   transition: transform 500ms ease-in-out;
 
   transform: scale(1.5);
 }
 
 .btn.btn-background-circle:hover::before,
 .btn.btn-background-circle:focus::before {
   transform: scale(0);
 }
 
 .btn.btn-background-circle {
   z-index: 1;
   overflow: hidden;
   background-color: var(--accent-color);
   transition: color 500ms ease-in-out;
 }
 
 .btn.btn-background-circle:hover,
 .btn.btn-background-circle:focus {
   color: white;
 }